header
  h1#nav-title Weather App

  ul#nav-list
    li
      a(href="/")
        button.nav-button Homepage
    li
      a(href="/about")
        button.nav-button About
    li
      a(href="/search")
        button.nav-button Search
  