extends layout

block content
  #about-container
    h1#about-title About The Project

    #about-wrapper
      p.about-paragraph This project is built with Node.js with Express (with the Pug templating language) to display a current user's weather using Darksky.net and IP-API's API to find the user's location and display their current weather along with the daily and weekly forecasts. 
      p.about-paragraph My main focus in this project was to better familiarize myself with Node/Express using middleware to invoke all the API request functionality before route requests.

      h2.about-subtitle Improvements That Could Be Made
      p.about-paragraph Because this project was more focused on the backend, I did not spend the time to make the styles responsive/asseible on any screen type. This project was strictly to learn and improve my back end JavaScript skills before I move on to learn the front-end library React.

      h2.about-subtitle Find the source code here:
      a.about-paragraph(href="https://github.com/michaelgee22/weather-app" target="_blank") Github Source Code