<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway")
    link(rel="stylesheet", href="/styles/styles.css")
    title Weather App
  body
    include ./partials/header

    block content

    script(src="/scripts/skycons.js")
    script(src="/scripts/icons.js")